/*body {
  padding-top: 50px;
}
*/
.starter-template {
  text-align: center;
}
table td, table th {
  padding: 2px;
  spacing: 0;
  border: 1px solid gray;
}
.mycontent-left {
  padding: 15px;
  text-align: left;
}
.mycontent-right {
  padding: 15px;
  text-align: left;
}
.panel-footer{
	text-align: right;
}
.usuario-reporta{
	text-align: left;
}